<div class="container" ng-controller="app.views.orders as vm">
    <div class="container jumbotron">
        <h1>Get Taxi</h1>
        <p>Welcome to Get Taxi App! The most easy and cheap way to get a taxi</p>
    </div>
    <div>
        <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

        <h4>Inline</h4>
        <div style="display:inline-block; min-height:290px;">
            <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
        </div>

        <timepicker ng-model="dt" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
        <h4>Popup</h4>
        <div class="row">
            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="hh:mm" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
            </div>
        </div>

        <hr />
        <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
        <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
    </div>
    <form name="orderForm" class="form-horizontal" role="form">

        <div class="row">
            <div class="form-group">
                <div class="btn-group col-md-1" ng-mode="serviceType">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{serviceType}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Taxi</a></li>
                        <li ng-click="changeServiceTo(Friend)"><a href="#">Friend</a></li>
                        <li><a href="#">Mini Track</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </span>
                        <input required type="text" class="form-control" name="locationFrom" value="Azadliq Metro" placeholder="From Location" ng-model="locationFrom" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input required type="text" class="form-control" name="locationTo" value="28 Mall" placeholder="To Location" ng-model="locationTo" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="form-group">
                <div class="col-md-3">
                    <div class="input-group">
                        <select class="form-control" ng-change="dateOptionChanged(orderDateType)" ng-options="orderDateType.name for orderDateType in orderDateOptions" ng-model="selectedOrderDateType" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class='col-md-3' ng-show="showOrderDateTimePicker">
                    <div class='input-group date' id='datetimepicker5'>
                        <input type='text' class="form-control" data-date-format="DD/MM/YYYY" ng-model="orderDate"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker5').datetimepicker({
                            pickTime: false,
                            showToday: true
                        });
                    });
                </script>
                <div class='col-md-2' ng-show="showOrderDateTimePicker">
                    <div class='input-group date' id='datetimepicker4'>
                        <input type='text' class="form-control" ng-model="orderTime"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker4').datetimepicker({
                            format: 'HH:mm',
                            pickDate: false,
                            showToday: true
                        });
                    });
                </script>
                <div class="col-md-2 pull-right">
                    <button class="btn btn-primary" ng-click="makeOrder()" ng-disabled="orderForm.$invalid">Make Order</button>
                </div>
            </div>
            
        </div>
        

        <div ng-show="hideAdditionalSearch">
            <p ng-click="showAdditionalOptions()" class="btn-link">Show Additional Options</p>
        </div>
        <div ng-hide="hideAdditionalSearch">
            <p ng-click="hideAdditionalOptions()" class="btn-link">Hide Additional Options</p>
        </div>
        <div class="row" ng-hide="hideAdditionalSearch">
            <div class="form-group">
                <label class="col-md-2 control-label">Suggested Price:</label>
                <div class="col-md-10">
                    <input type="number" class="form-control" name="suggestedPrice" placeholder="Suggested Price" ng-model="suggestedPrice" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Gender:</label>
                <div class="col-md-10">
                    <select class="form-control" ng-options="genderType.name for genderType in genderOptions" ng-model="selectedGender" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Driver Experiance:</label>
                <div class="col-md-10">
                    <input type="number" class="form-control" name="driverExperiance" placeholder="Driver Experiance" ng-model="driverExperiance" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">VIP Service</label>
                <input class="checkbox-inline" type="checkbox" name="vipservice" value="" />
            </div>
        </div>

        <div class="row" ng-show="successOrder">
            <h1>Order Made Successfully!!!</h1>
        </div>
    </form>
</div>
